:root {
  --cf-yellow: #f9df09;
  --cf-cyan: #31dddd;
  --cf-orange-light: #ffbb64;
  --cf-green-light: #dcffb7;
  --cf-pink-light: #ffb7b7;
  --cf-blue-light: #b7e1ff;
  --cf-purple-circle: rgba(129, 9, 249, 0.59);
  --cf-purple: #6c0ce5;
  --cf-purple-light: #a660ff;
  --cf-blue: #4e94fc;
  --cf-red: #fc4e78;
  --cf-cyan-light: #01f3ff;
  --cf-dark: #141414;
}
