.linkCard {
  border-radius: 10px;
  border: 3px solid #141414;
  box-shadow: 4px 6px 0px 0px #000;
}

a.linkCard {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 7px 9px 0px 0px #141414;
    transform: translate(-3px, -3px);
    opacity: 1 !important;
  }
  &:active {
    box-shadow: unset !important;
    transform: translate(3px, 3px) !important;
  }
}
