@import "./colorful/colors.scss";
@import "./colorful/patterns.scss";
@import "./colorful/links.scss";

#cfHero {
  background-color: var(--cf-yellow);
  height: clamp(196px, 50vh, 400px);
  position: relative;
  overflow: hidden;
}

#cfHeroCircle {
  animation: zoomOnScroll;
  animation-timeline: scroll(root);
}

.bgText {
  font-family: var(--abril, "Abril Fatface");
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--cf-dark);
  line-height: 50px;
}

.bgText > div:nth-child(2n) > span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--cf-dark);
  color: transparent;
}
