@tailwind components;
@layer components {
  .fcc {
    @apply flex flex-col items-center;
  }
  .fccc {
    @apply fcc justify-center;
  }
  .gcc {
    @apply grid items-center justify-center;
  }
  .frc {
    @apply flex flex-row items-center;
  }
  .frcsb {
    @apply frc justify-between;
  }
  .frfssb {
    @apply flex flex-row items-start;
  }
  .w100 {
    width: 100%;
  }
  .container {
    max-width: 1440px;
    padding-inline: 30px;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .container {
      padding-inline: 10px;
    }
  }

  input::placeholder {
    opacity: 0.4;
  }

  .fs0 {
    flex-shrink: 0;
  }
  // RESPONSIVE BUTTON GROUP
  .btnRow {
    @apply frcsb overflow-visible w100;
  }
  @media screen and (max-width: 768px) {
    .btnRow {
      @apply frc gap-3 overflow-scroll;
    }
  }
}
