.loginBtnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid #8297bf;
  background: #0a1f4a;
  box-shadow: 0px -2px 7.7px 0px rgba(45, 103, 219, 0.5) inset,
    0px 2px 7.7px 0px rgba(45, 103, 219, 0.5) inset;
  color: var(--highlight, rgba(225, 235, 255, 0.75));
}
#btnLogin {
  display: flex;
  width: 65px;
  padding: 12px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid #8297bf;
  background: #0a1f4a;
  box-shadow: 0px -2px 7.7px 0px rgba(45, 103, 219, 0.5) inset,
    0px 2px 7.7px 0px rgba(45, 103, 219, 0.5) inset;
  color: var(--highlight, rgba(225, 235, 255, 0.75));
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 108%; /* 15.12px */
  text-transform: capitalize;
}

#btnHero {
  display: inline-flex;
  height: 60px;
  padding: 0px clamp(70px, 20vw, 174px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid rgba(74, 133, 247, 0);
  background: rgba(0, 6, 19, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 6, 19, 0.4),
    0px 1px 13.1px 0px rgba(47, 103, 215, 0.25) inset,
    0px 2px 13.1px 0px rgba(47, 103, 215, 0.25) inset;
  backdrop-filter: blur(8.449999809265137px);
  color: rgba(225, 235, 255, 0.8);
  text-transform: capitalize;
}

button,
.button {
  color: var(--highlight, rgba(225, 235, 255, 0.75));
  // font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 108%; /* 17.28px */
  text-transform: capitalize;
}
.button {
  line-height: normal;
}
