.card,
.card2 {
  border: 1px solid var(--border, #132341);
  background: var(--cardBg, #081121);
  box-shadow: 0px 4px 5.3px 0px rgba(20, 26, 37, 0.2) inset,
    0px -4px 3px 0px rgba(6, 12, 24, 0.1) inset;
}
.card2 {
  background: var(--cardBg2, #020b1c);
  border-radius: 20px;
}

.heroCard {
  border-bottom: 1px solid var(--border, #132341);

  // background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000613;

  /* blurBg */
  backdrop-filter: blur(41.04999923706055px);
}

.gradCard {
  border-radius: 10px;
  border: 1px solid #132541;
  background: var(
    --gradBg,
    linear-gradient(
      180deg,
      rgba(0, 56, 165, 0.1) 0.28%,
      rgba(131, 169, 243, 0.02) 72.09%,
      rgba(131, 169, 243, 0) 111.18%
    )
  );

  /* blurBg */
  backdrop-filter: blur(41.04999923706055px);
}

#filterMenu {
  display: flex;
  max-width: 313px;
  width: 100%;
  height: 100;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}
