#logo {
  color: #fff;
  font-family: var(--bebas_neue);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

#navbar > a {
  color: var(--highlight, rgba(225, 235, 255, 0.75));
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 108%; /* 15.12px */
  text-transform: capitalize;
}

h1 {
  text-align: center;
  font-size: 74px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 85.1px */
  text-transform: capitalize;
  background: linear-gradient(
    189deg,
    #fff 7.14%,
    rgba(188, 188, 188, 0.92) 76.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1Highlight {
  background-image: linear-gradient(
    189deg,
    #3e75e3 7.14%,
    rgba(40, 79, 156, 0.92) 76.62%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
li {
  color: var(--text, rgba(226, 232, 255, 0.55));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.h {
  color: var(--heading, #e2e8ff);
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.h1 {
  @apply h;
  font-size: 36px;
  background: unset;
  -webkit-text-fill-color: unset;
  font-weight: 600;
}
h4 {
  @apply h;
  font-size: 12px;
  font-weight: 600;
}

h3 {
  @apply h;
  font-size: 14px;
  font-weight: 500;
}

h5 {
  @apply h;
  color: var(--heading, #e2e8ff);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

h2 {
  @apply h;
  color: var(--heading, #e2e8ff);
  font-size: 24px;
  font-weight: 600;
}

pre {
  @apply w-full;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--cardBg);
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  white-space: pre;
  margin-block: 5px;
}

.markdown {
  @apply fcfs gap-2;
  h1 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 36px;
    color: var(--heading, #e2e8ff);
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 5px;
  }
}
