#logo {
  color: #fff;
  font-family: var(--bebas_neue);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

#navbar > a {
  color: var(--highlight, rgba(225, 235, 255, 0.75));
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 108%; /* 15.12px */
  text-transform: capitalize;
}

h1 {
  text-align: center;
  font-size: 74px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 85.1px */
  text-transform: capitalize;
  background: linear-gradient(
    189deg,
    #fff 7.14%,
    rgba(188, 188, 188, 0.92) 76.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1Highlight {
  background-image: linear-gradient(
    189deg,
    #3e75e3 7.14%,
    rgba(40, 79, 156, 0.92) 76.62%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: var(--text, rgba(226, 232, 255, 0.55));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
