:root {
  --toastify-color-info: var(--primary) !important;
  --toastify-color-success: var(--green) !important;
  --toastify-color-warning: var(--yellowDark) !important;
  --toastify-color-error: var(--red) !important;
  --toastify-text-color-dark: var(--heading) !important;
  --toastify-font-family: var(--poppins) !important;
}

.Toastify__toast {
  font-size: 14px;
}

.Toastify__progress-bar {
  height: 2px !important;
  background: linear-gradient(
    180deg,
    #78a5fd 0%,
    #3076ff 28.5%,
    #003eb6 62%,
    rgba(9, 26, 59, 0.54) 100%
  ) !important;
}

.Toastify__progress-bar--success {
  height: 2px !important;
  background: var(--green) !important;
}

.Toastify__progress-bar--warning {
  height: 2px !important;
  background: var(--yellowDark) !important;
}

.Toastify__progress-bar--error {
  height: 2px !important;
  background: var(--red) !important;
}
