@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/card.scss";
@import "../styles/auspy.scss";
@import "../styles/text.scss";
@import "../styles/button.scss";
@import "../styles/animations/heroBtnAnimate.scss";
@import "../styles/toastify.scss";
@import "../styles/lines.scss";
@import "../styles/detailsTag.scss";
@import "../styles/forms.scss";
@import "../styles/githubGraph.scss";
@import "../styles/animations/scale.scss";
@import "../styles/animations/shootingStars.scss";
@import "../styles/animations/move.scss";
@import "../styles/animations/fade.scss";
@import "../styles/animations/colorChange.scss";
@import "../styles/animations/zoomOnScroll.scss";

:root {
  --border: #132341;
  --gradBorder: radial-gradient(
    1513559.1% 8250.02% at 50% 0.04%,
    #132341 0%,
    rgba(19, 35, 65, 0) 100%
  );
  --primary: #457be3;
  --priDark: #3e75e3;
  --priDarker: #284f9c;
  --subH: #596b91;
  --heading: #e2e8ff;
  --cardBg: #081121;
  --cardBg1: #020d23;
  --cardBg2: #020b1c;
  --text: #e2e8ff8c;
  --highlight: #e1ebffbf;
  --bg: #010816;
  --yellowDark: #a4a622;
  --green: #2da519;
  --red: #d64343;
}

body {
  background-color: var(--bg) !important;
  color: var(--text);
  position: relative;
  z-index: 0;
}

html {
  font-family: var(--poppins);
}

button {
  color: var(--highlight);
}

.error {
  color: var(--red);
}
