@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/card.scss";
@import "../styles/auspy.scss";
@import "../styles/text.scss";
@import "../styles/button.scss";
@import "../styles/animations/heroBtnAnimate.scss";
@import "../styles/toastify.scss";
@import "../styles/lines.scss";
@import "../styles/detailsTag.scss";

:root {
  --border: #132341;
  --gradBorder: radial-gradient(
    1513559.1% 8250.02% at 50% 0.04%,
    #132341 0%,
    rgba(19, 35, 65, 0) 100%
  );
  --primary: #457be3;
  --priDark: #3e75e3;
  --priDarker: #284f9c;
  --subH: #596b91;
  --heading: #e2e8ff;
  --cardBg: #081121;
  --text: #e2e8ff8c;
  --highlight: #e1ebffbf;
  --bg: #010816;
  --cardBg2: #020b1c;
  --yellowDark: #a4a622;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

html {
  font-family: var(--poppins);
}

button {
  color: var(--highlight);
}
